body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.app {
  margin-top: 5rem;
}

form.addBook {
  position: fixed;
  top: 4rem;
  width: 300px;
}

form label {
  display: block;
  text-transform: capitalize;
}

input.sort {
  text-transform: capitalize;
}

.form-inline .form-control {
  width: 70%;
}
